.container {
    display: flex;
    justify-content: center;
    padding: 5rem 0 5rem 0;

    .card {
        max-width: 500px;
        width: 100%;
    }

    .logo {
        max-width: 200px;
        width: 100%;
        height: auto;
        display: block;
        margin: 0 auto;
    }
}